[submodule "IV. Fourth Year/cs-software-engineering-cp"]
	path = IV. Fourth Year/cs-software-engineering-cp
	url = https://github.com/Ary0n-Z/SmartPong.git
[submodule "IV. Fourth Year/cs-numerical/laboratory"]
	path = IV. Fourth Year/cs-numerical/laboratory
	url = https://DV1X3R@github.com/DV1X3R/tti-numerical-lw.git
[submodule "bachelors-thesis"]
	path = bachelors-thesis
	url = https://gitlab.com/dv1x3r/chatbi-bt
