header, footer {
    background-color: #1f1f1f;
    border-color: #3E92CC;
    color: #f4f4f4;
}

header {
    padding-top: 15px;
    min-height: 55px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
}

footer {
    border-top-width: 4px;
    border-top-style: solid;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

header #header-title {
    float: left;
}

header #header-title h1 {
    margin: 0;
}

header nav {
    float: right; 
    margin-top: 10px;
}

header ul {
    margin: 0;
    padding: 0;
}

header li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

header a {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.highlight {
    color:#3E92CC;
    font-weight: bold;
}

.container {
    width: 85%;
    margin: auto;
    overflow: hidden;
}

#section-introduction {
    text-align: center;
}

#section-introduction article {
    display: inline-block;
    vertical-align: top;
    width: 70%;
}

#section-introduction aside {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

#section-products {
    text-align: center;
}

#section-products .box {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    padding: 10px;
}

#section-products .box img {
    width: 80%;
}

#section-utils {
    text-align: center;
}

#section-utils .box {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    padding: 10px;
    text-align: right;
}

#section-utils #calculator-out {
    width: 200px;
    font-size: 18px;
}

#section-utils button {
    width: 50px;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#section-jquery {
    text-align: center;
}

#section-jquery .box {
    display: inline-block;
    vertical-align: top;
    width: 28%;
    padding: 10px;
}

#section-feedback {
    margin-top: 20px;
    background-color: #cccccc;
}

#section-feedback h2 {
    float: left;
    margin: 0;
}

#section-feedback form {
    float: right;
    margin-top: 5px;
}

@media(max-width: 980px) {
    header #header-title,
    header nav,
    #section-introduction article,
    #section-introduction aside,
    #section-feedback h2,
    #section-feedback form {
        width: 100%;
        text-align: center;
        margin: auto;
    }

    #section-feedback h2 {
        font-size: 15px;
    }

}

@media(max-width: 780px) {
    #section-products .box, #section-utils .box {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    #section-products .box img {
        width: 50%;
    }

}
